
<div class="container">
	 <div class="card-body">
           <div class=" d-flex align-items-center no-padding">
               <div class="col">
                   <div class="row justify-content-center">
                       <div class="col-lg-6">
                           <div class="card bg-tertiary text-white">
                               <div class="card-body">


							      <!-- Masthead Avatar Image -->
							      <img class="masthead-avatar mb-5" src="/assets/img/avataaars.svg" alt="">

							      <!-- Masthead Heading -->
							       <h1 class="display-4 text-primary text-center">PERFIL PRUEBA 1</h1>
							      
							        <h4 class="heading h3 text-white text-center pt-3 pb-5" style="text-transform: uppercase">{{user.nombre}} {{user.apellido}}</h4>

							      <!-- Icon Divider -->
							      <div class="divider-custom divider-light">
							        <div class="divider-custom-line"></div>
							        <div class="divider-custom-icon">
							          <i class="fas fa-star"></i>
							        </div>
							        <div class="divider-custom-line"></div>
							      </div>
									<a class="btn text-white" href="/usuario/editar_perfil">Completa tu perfil</a>
							      <!-- Masthead Subheading -->
							      <p class="masthead-subheading font-weight-light mb-0" >Graphic Artist - Web Designer - Illustrator</p>

 							</div>
             			 </div>
            		</div>
          		</div>
        	</div>
      	</div>
    </div>
</div>